{% extends "common.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Confirm Email" %}{% endblock %}




{% block header %}
<section class="content-full bg-color-2">
    <header class="navbar navbar-default navbar-static-top">
        <div class="pull-left">
            <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-chevron-left"></i>Back to Homepage</a>
        </div>
        <div class="pull-right">
            <ul class="brands brands-inline brands-md brands-circle main">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </header>
</section>
{% endblock header %}
{% block main-content %}
    <div class="container">
        <div class="forms-only">
            <form method="post" action="{% url 'account_confirm_email' key=confirmation.key %}">
                <legend>{% trans "Confirm Email" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    <p>{% blocktrans with email=confirmation.email_address.email %}Confirm email address <b>{{ email }}</b>?{% endblocktrans %}</p>
                    <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock main-content %}