{% extends "common.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Email confirmed" %}{% endblock %}

{% block header %}
<section class="content-full bg-color-2">
    <header class="navbar navbar-default navbar-static-top">
        <div class="pull-left">
            <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-chevron-left"></i>Back to Homepage</a>
        </div>
        <div class="pull-right">
            <ul class="brands brands-inline brands-md brands-circle main">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </header>
</section>
{% endblock header %}
{% block main-content %}
    <div class="container">
        <div class="forms-only">
    <h1>{% trans "Email confirmed" %}</h1>
    <p>{% blocktrans with email=confirmation.email_address.email %}You have confirmed <b>{{ email }}</b>{% endblocktrans %}</p>
        </div>
    </div>
{% endblock main-content %}