{% load i18n %}

{% if news in user.profile.read_news.all %}
{% else %}
<a class="btn btn-emp btn-success" onclick="news_action(this)" id="newsread{{news.id}}" data-id="{{news.id}}" data-op="read">{% trans "Mark Read" %}</a>
{% endif %}
<a class="btn btn-emp btn-danger" onclick="news_action(this)" id="newsdelete{{news.id}}" data-id="{{news.id}}" data-op="delete">{% trans "Delete" %}</a>