{% extends 'site_base.html'%}
{% load i18n %}
{% block body %}


<div class="col-lg-12" style="margin-top: 80px;">
    <div class="row" style="margin-left: 10px;margin-right: 10px;">
    <table class="news-datatable table table-striped table-bordered bootstrap-datatable">
        <thead>
        {% csrf_token %}
            <th>{% trans "Id" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "URL" %}</th>
            <th>{% trans "Hacker URL" %}</th>
            <th>{% trans "Posted on" %}</th>
            <th>{% trans "Upvotes" %}</th>
            <th>{% trans "Comment" %}</th>
            <th>{% trans "Action" %}</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
</div>

{% endblock %}
{% load staticfiles %}
{% block scripts %}
    {{ block.super }}
<script type="text/javascript">
var NEWS_LIST_JSON_URL = '{% url "news_list_json" %}';
        // translations for datatables
var oLanguages = 
	{
           sInfo:'{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}',
            sInfoEmpty: '',
            sInfoFiltered: '{% trans "(filtered from _MAX_ total entries)" %}',
            sLengthMenu:'{% trans "Show _MENU_ entries" %}',
            sProcessing: 'Loading...',
            sSearch: '{% trans "Filter records:" %}',
            sZeroRecords: '{% trans "No data to show" %}'
   };
  
function news_action(obj) {
    var action = $(obj).attr('data-op');
    var id = $(obj).attr('data-id');
    $.post('{% url "news_handler" %}', {
        id: id,
        op: action
    }, function(result) {
        console.log(result);
        if (result.status=='ok') {
            if (action=='read') {
                $('#news'+action+id).remove();
            } else {
                $('#news'+action+id).closest('tr').hide();
                console.log('remove row');
            }
        }
    });
}

$(document).ready(function() {
    $('body').on('click', '.btn', function() {
        $(this).attr("disabled", true);
    });

    var dt_table = $('.news-datatable').dataTable({
        "oLanguage": oLanguages,
        "sDom": "<<'col-md-12 center-block'p>'row'<'col-md-6'l><'col-md-6'f>r><'row'<'table-responsive't>><'row'<'col-md-12'i><'col-md-12 center-block'p>>",
        "sPaginationType": "bootstrap",
        "bFilter": true,
        "aLengthMenu": [
            [10, 25, 50, 100],
            [10, 25, 50, 100]
        ],
        "iDisplayLength": 10,
        "aaSorting": [
        ],
        "bAutoWidth": true,
        "aoColumns": [{
            "bSortable": true,
            "bSearchable": true,
            "sClass": "center"
        }, {
            "bSortable": true,
            "bSearchable": true,
            "sClass": "center"
        }, {
            "bSortable": false,
            "bSearchable": true,
            "sClass": "center"
        }, {
            "bSortable": false,
            "bSearchable": true,
            "sClass": "center"
        }, {
            "bSortable": true,
            "bSearchable": true,
            "sClass": "center"
        }, {
            "bSortable": false,
            "bSearchable": true,
            "sClass": "center"
        }, {
            "bSortable": false,
            "bSearchable": true,
            "sClass": "center"
        }, {
            "bSortable": false,
            "bSearchable": true,
            "sClass": "center"
        }, ],
        "bProcessing": true,
        "bServerSide": true,
        "bStateSave": true,
        "sAjaxSource": NEWS_LIST_JSON_URL
    });

});

</script>
{% endblock %}
