{% extends "theme_bootstrap/base.html" %}
{% load staticfiles %}
{% block styles %}
<link href="{% static 'libs/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
<!-- <link href="{% static 'libs/datatables/media/css/jquery.dataTables.css' %}" rel="stylesheet"> -->
<link href="{% static 'libs/responsive-tables/responsive-tables.css' %}" rel='stylesheet'>
 <style>
 #content_body {
 	margin-top: 80px;
 	}
 </style>
      <script src="{% static 'libs/jquery/jquery.js' %}"></script>
{% endblock %}
{% block nav %}
<ul class="nav navbar-nav navbar-left">
	{% if request.user.is_authenticated %}
 <li><a href="/">Dashboard</a>
	{% endif%}
<!-- <li><a href="#">Link 2</a> --> 
</ul>

{% endblock %}
{%  block footer %}

        <div class="container">
            <hr>
            <footer>
                <p>&copy;BITS Assignment - 2020 by Tarun Behal (2018HT13232)</p>
            </footer>
        </div>

{% endblock %}

{% block scripts %}
      <script src='{% static "libs/bootstrap/dist/js/bootstrap.min.js" %}'></script>
      <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
      <script src="{% static 'libs/responsive-tables/responsive-tables.js' %}"></script>
      <script src="{% static 'js/additional-methods.js' %}"></script>

{% endblock %}